<ng-container tuiTableFilters>
  <tui-accordion-item class="tui-container">
    Filters
    <ng-template tuiAccordionItemContent>
      <form [formGroup]="filtersForm" class="filters__form">
        @for (filter of filterableColumns; track filter) {
          <tui-textfield>
            <label for="filter" tuiLabel>{{ columnNames[filter] }}</label>
            <input
              id="filter"
              tuiTextfield
              [formControlName]="filter"
              [tuiTableFilter]="filter"
              [tuiGenericFilter]="filterFn"
            />
          </tui-textfield>
        }
      </form>
    </ng-template>
  </tui-accordion-item>
  <tui-loader
    [overlay]="true"
    [showLoader]="isLoading$.value"
    class="table-container"
  >
    <table tuiTable class="tui-space_auto" [columns]="columns">
      <thead>
      <tr tuiThGroup>
        @for (column of columns; track column) {
          <th *tuiHead="column" tuiTh>
            {{ columnNames[column] }}
          </th>
        }
      </tr>
      </thead>
      <tbody
        *tuiLet="data$.value | tuiTableSort as sortedData"
        tuiTbody
        [data]="sortedData"
      >
      <tr *ngFor="let item of sortedData | tuiTableFilters | async" tuiTr>
        @for (column of humanColumns; track column) {
          <td *tuiCell="column" tuiTd>
            {{ item[column] }}
          </td>
        }
        <td *tuiCell="'actions'" tuiTd>
            <span tuiStatus>
              <button
                appearance="link"
                iconStart="@tui.pencil"
                size="xs"
                tuiIconButton
                type="button"
                (click)="edit(item)"
              >
                Edit
              </button>
              <button
                appearance="link"
                iconStart="@tui.trash"
                size="xs"
                tuiIconButton
                type="button"
                (click)="remove(item)"
              >
                Remove
              </button>
              <button
                appearance="link"
                iconStart="@tui.eye"
                size="xs"
                tuiIconButton
                type="button"
                (click)="view(item)"
              >
                View
              </button>
            </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-table-pagination
            class="tui-space_top-2"
            [page]="page$.value"
            [size]="pageSize$.value"
            [total]="totalItems$.value"
            (paginationChange)="$event.page ? page$.next($event.page) : pageSize$.next($event.size)"
          />
        </td>
      </tr>
      </tfoot>
    </table>
  </tui-loader>
</ng-container>
<div class="file">
  <button
    class="button"
    tuiIconButton
    iconStart="@tui.file-down"
    type="button"
    appearance="primary-grayscale"
    [style.border-radius.%]="100"
    (click)="openFileImporter()"
  >
    Import file
  </button>
  <button
    class="button"
    tuiIconButton
    iconStart="@tui.file-up"
    type="button"
    appearance="primary-grayscale"
    [style.border-radius.%]="100"
    (click)="openFileExporter()"
  >
    Export file
  </button>
</div>
<div class="create">
  <button
    class="button"
    iconStart="@tui.menu"
    appearance="primary-grayscale"
    [style.border-radius.%]="100"
    tuiIconButton
    tuiDropdownAlign="left"
    type="button"
    [tuiAppearanceState]="open ? 'active' : null"
    [tuiDropdown]="dropdown"
    [tuiDropdownSided]="true"
    [(tuiDropdownOpen)]="open"
  >
    Menu
  </button>
  <button
    class="button"
    iconStart="@tui.plus"
    tuiIconButton
    type="button"
    (click)="createNewHuman()"
    appearance="primary-grayscale"
    [style.border-radius.%]="100"
  >
    Create new human
  </button>
</div>
<ng-template
  #dropdown
  let-close
>
  <tui-data-list>
    <tui-opt-group>
      <button
        *ngFor="let item of specialActions"
        tuiOption
        type="button"
        (click)="onMenuClick(item)"
      >
        {{ item }}
      </button>
    </tui-opt-group>
  </tui-data-list>
</ng-template>

<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Declarative directive', size: 's'}"
  [(tuiDialog)]="openWeapon"
>
  <form
    [formGroup]="weaponForm"
    (ngSubmit)="observer.complete()"
  >
    <tui-select class="tui-form__row" formControlName="weaponType" tuiTextfieldSize="s">
      Weapon Type
      <input tuiTextfieldLegacy placeholder="Weapon Type" />
      <tui-data-list-wrapper *tuiDataList [items]="['HAMMER', 'AXE', 'SHOTGUN', 'MACHINE_GUN', 'BAT']" />
    </tui-select>
    <p>
      <button
        tuiButton
        type="submit"
        (click)="this.deleteByWeapon(this.weaponForm.value.weaponType)"
      >
        Delete
      </button>
    </p>
  </form>
</ng-template>

<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Get the number of objects whose minutesOfWaiting field value is less than a given one', size: 's'}"
  [(tuiDialog)]="openMinutesOfWaiting"
>
  <form
    [formGroup]="minutesOfWaitingFrom"
    (ngSubmit)="observer.complete()"
  >
    <tui-textfield class="tui-form__row">
      <label for="wait" tuiLabel>Minutes of Waiting</label>
      <input id="wait" tuiTextfield formControlName="minutesOfWaiting" />
    </tui-textfield>
    <p>
      <button
        tuiButton
        type="submit"
        (click)="this.showCountMinutes()"
      >
        Get
      </button>
    </p>
  </form>
</ng-template>
