<tui-root>
  <header tuiNavigationHeader>
    <span tuiNavigationLogo [routerLink]="['/']" >
      <tui-icon icon="@tui.person-standing"/>
      Human Being
    </span>
    <hr />
    @if (authService.currentUser?.username) {
      <a
        iconStart="@tui.files"
        tuiIconButton
        type="button"
        [routerLink]="[KnownRoutePath.FileExport]"
      >
        File Export
      </a>
      @if (authService.currentUser?.accountType === AccountType.Admin) {
        <a
          iconStart="@tui.book-user"
          tuiIconButton
          type="button"
          [routerLink]="[KnownRoutePath.User,KnownRoutePath.AdminPanel]"
        >
          Settings
        </a>
      }

      <tui-avatar [src]="authService.currentUser!.username.slice(0, 2)" [round]="false" [style.background-color]="'var(--tui-background-neutral-2)'"/>
      <button
        iconStart="@tui.log-out"
        tuiIconButton
        type="button"
        [routerLink]="[KnownRoutePath.User]"
        (click)="logout()"
      >
        Log out
      </button>
    }
  </header>
  <main tuiNavigationMain>
    <router-outlet></router-outlet>
  </main>

  <!--
     If you need, you can add something between Taiga portal layers:
    -->
  <ng-container ngProjectAs="tuiOverContent">
    <!-- Content over app content -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <!-- Content over alerts -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDropdowns">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>