<form tuiCardLarge [formGroup]="loginForm" class="tui-container_menu tui-space_auto">
  <p class="tui-text_h1 tui-space_auto">Login</p>

  <tui-textfield iconStart="@tui.user">
    <label for="username" tuiLabel>Username</label>
    <input id="username" tuiTextfield formControlName="username" />
  </tui-textfield>

  <tui-textfield iconStart="@tui.hash">
    <label for="password" tuiLabel>Password</label>
    <input id="password" tuiTextfield formControlName="password" type="password" />
    <tui-icon tuiPassword />
  </tui-textfield>

  <button
    tuiButton
    type="button"
    [disabled]="!loginForm.valid"
    (click)="login()"
  >
    Login
  </button>
  <div class="bottom-link">
    Don't have an account?
    <a tuiLink [routerLink]="['../',KnownRoutePath.Register]">Create one</a>
  </div>
</form>
