@if (isLoading()) {
  <div class="tui-form__loader">
    <tui-loader></tui-loader>
  </div>
} @else {
  <form [formGroup]="humanForm!" class="main-form">
    @if (context.data.mode === 'read') {
      <tui-textfield class="tui-form__row">
        <label tuiLabel>ID</label>
        <input tuiTextfield formControlName="id" [readOnly]="true" />
      </tui-textfield>
    }

    <tui-textfield class="tui-form__row">
      <label tuiLabel>Name</label>
      <input tuiTextfield formControlName="name" />
    </tui-textfield>

    <div formGroupName="coordinates" class="inner-form">
      <h3 class="tui-form__header">Coordinates</h3>

      <div class="tui-form__row tui-form__row_multi-fields">
        <tui-textfield class="tui-form__multi-field">
          <label tuiLabel>X</label>
          <input tuiTextfield formControlName="x" />
        </tui-textfield>

        <tui-textfield class="tui-form__multi-field">
          <label tuiLabel>Y</label>
          <input tuiTextfield formControlName="y" />
        </tui-textfield>
      </div>
    </div>

    @if (context.data.mode === 'read') {
      <tui-input-date formControlName="creationDate" class="tui-form__row" [readOnly]="true">
        Creation Date
        <input placeholder="Placeholder" tuiTextfieldLegacy [readOnly]="true" />
      </tui-input-date>
    }

    <label class="checkbox">
      <input tuiCheckbox type="checkbox" formControlName="realHero" />
      <span>Real Hero</span>
    </label>

    <label class="checkbox">
      <input tuiCheckbox type="checkbox" formControlName="hasToothpick" />
      <span>Has Toothpick</span>
    </label>

    <div formGroupName="car" class="inner-form">
      <h3 class="tui-form__header">Car</h3>

      <tui-textfield class="tui-form__row">
        <label tuiLabel>Name</label>
        <input tuiTextfield formControlName="name" />
      </tui-textfield>

      <label class="checkbox">
        <input tuiCheckbox type="checkbox" formControlName="cool" />
        <span>Cool Car</span>
      </label>
    </div>

    <tui-select class="tui-form__row" formControlName="mood" tuiTextfieldSize="s">
      Mood
      <input tuiTextfieldLegacy placeholder="Mood" />
      <tui-data-list-wrapper *tuiDataList [items]="['SORROW', 'LONGING', 'APATHY', 'CALM', 'RAGE']" />
    </tui-select>

    <tui-textfield class="tui-form__row">
      <label tuiLabel>Impact Speed</label>
      <input tuiTextfield formControlName="impactSpeed" />
    </tui-textfield>

    <tui-textfield class="tui-form__row">
      <label tuiLabel>Soundtrack Name</label>
      <input tuiTextfield formControlName="soundTrackName" />
    </tui-textfield>

    <tui-textfield class="tui-form__row">
      <label tuiLabel>Minutes of Waiting</label>
      <input tuiTextfield formControlName="minutesOfWaiting" />
    </tui-textfield>

    <tui-select class="tui-form__row" formControlName="weaponType" tuiTextfieldSize="s">
      Weapon Type
      <input tuiTextfieldLegacy placeholder="Weapon Type" />
      <tui-data-list-wrapper *tuiDataList [items]="['HAMMER', 'AXE', 'SHOTGUN', 'MACHINE_GUN', 'BAT']" />
    </tui-select>

    <div class="tui-form__buttons">
      @if (isEditable) {
        <button size="l" tuiButton type="submit" class="tui-form__button" [disabled]="!humanForm?.valid" (click)="save()">
          Submit
        </button>
        <button appearance="flat" size="l" tuiButton type="button" class="tui-form__button" (click)="cancel()">
          Cancel
        </button>
      }
    </div>
  </form>
}